#
# OpenWrt ConfigurationFor jcg876m
#
 
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_jcg_jhr-ac876m=y

CONFIG_PACKAGE_luci-theme-netgear=y

CONFIG_PACKAGE_automount=y
# CONFIG_PACKAGE_autosamba=y

CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y

CONFIG_PACKAGE_luci-app-wifischedule=y

CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openvpn-server=y


# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_DEFAULT_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set

